---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lorem Ipsum - Dolor Sit Amet Consectetur">
  <main class="pt-0">
    <section
      id="cover-section"
      class="relative w-full h-[60vh] md:h-[80vh] lg:h-screen min-h-100 overflow-hidden bg-gray-200"
    >
      <div
        class="absolute inset-0 flex items-center justify-center bg-gray-300"
        data-motion="fade-in"
      >
        <span class="text-gray-500 font-medium" data-motion="zoom-in" style="animation-delay: 200ms"
          >Lorem Ipsum Dolor Sit Amet Placeholder (e.g. 1920x1080)</span
        >
      </div>
    </section>

    <section class="py-12 md:py-20">
      <div class="flex justify-center">
        <div class="w-11/12 md:w-9/12 xl:w-7/12" data-motion="zoom-in">
          <div class="relative items-center justify-center flex p-4">
            <div
              class="w-full aspect-3/1 bg-gray-300 border-8 md:border-12 border-[#eccb2f] shadow-lg -rotate-2 flex items-center justify-center relative z-10"
              data-motion="fade-right" style="animation-delay: 150ms"
            >
              <span class="text-gray-500 font-medium" data-motion="fade-up" style="animation-delay: 450ms"
                >Lorem Ipsum Title Cover Image Placeholder</span
              >
            </div>
            <div
              class="absolute inset-0 bg-[#eccb2f]/20 rotate-1 border-2 border-dashed border-red-500 rounded-sm"
              data-motion="fade-in"
              style="animation-delay: 300ms"
            >
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="relative overflow-visible pb-12">
      <div
        class="absolute right-0 top-10 w-24 h-48 bg-yellow-200/50 rounded-l-full hidden md:block"
        data-motion="fade-left"
        style="animation-delay: 200ms"
      >
      </div>
      <div
        class="absolute left-0 bottom-10 w-20 h-40 bg-green-200/50 rounded-r-full hidden md:block"
        data-motion="fade-right"
        style="animation-delay: 400ms"
      >
      </div>

      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-800 space-y-6 font-serif leading-relaxed">
            <p data-motion="fade-up" style="animation-delay: 0ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              finibus tellus nec ex pretium, vel finibus lorem sodales.
            </p>
            <p data-motion="fade-up" style="animation-delay: 150ms">
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              posuere cubilia curae; Pellentesque habitant morbi tristique
              senectus et netus.
            </p>
            <p data-motion="fade-up" style="animation-delay: 300ms">
              Aenean non accumsan ante. Aliquam elementum sodales justo ut
              sodales.
            </p>
            <p data-motion="fade-up" style="animation-delay: 450ms">
              In hac habitasse platea dictumst. Curabitur vel molestie
              lorem. Vivamus at urna eu nisl dictum eleifend id a lorem.
            </p>
            <p data-motion="fade-up" style="animation-delay: 600ms" class="italic text-gray-600 pl-4 border-l-4 border-yellow-400">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit,” dicit
              Lorem Ipsum.
            </p>
            <p data-motion="fade-up" style="animation-delay: 750ms">
              Sed eleifend lectus at nibh feugiat laoreet. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </p>
            <p data-motion="fade-up" style="animation-delay: 900ms">
              Nulla facilisi. Mauris vitae convallis ligula, ac efficitur diam.
              Cras efficitur sem at finibus feugiat.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1050ms">
              Aliquam nec arcu facilisis, ullamcorper dolor eget, placerat magna.
              Pellentesque non justo non risus rhoncus interdum vel sed lacus.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1200ms">
              Cras bibendum interdum finibus. Nullam a eleifend velit. Aliquam
              sodales rhoncus tellus ac placerat.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1350ms">
              Vestibulum facilisis pretium ex, vitae placerat lectus finibus nec.
              Nullam gravida magna sed rhoncus iaculis.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1500ms">
              Duis scelerisque eros eget justo hendrerit vulputate. Proin non
              risus ac felis elementum placerat sit amet non erat.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1650ms" class="italic text-gray-600 pl-4 border-l-4 border-yellow-400">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              eleifend lectus at nibh feugiat laoreet,” dicit Placeholder.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1800ms">
              Nam cursus leo ac elementum tristique. Interdum et malesuada fames
              ac ante ipsum primis in faucibus.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1950ms">
              Aliquam sit amet libero ac tellus condimentum rutrum. Maecenas
              tristique est sit amet leo volutpat semper.
            </p>
            <p data-motion="fade-up" style="animation-delay: 2100ms">
              Vestibulum congue feugiat varius. Suspendisse pulvinar, est sed
              pellentesque elementum, sem leo condimentum ante, sed cursus urna
              purus vitae ex.
            </p>
            <p data-motion="fade-up" style="animation-delay: 2250ms">
              Ut eget purus a erat scelerisque placerat non pretium turpis. Donec
              sed neque eu libero mattis elementum at id ligula.
            </p>
            <p data-motion="fade-up" style="animation-delay: 2400ms">
              Phasellus pretium dictum est vel accumsan. Integer vestibulum elementum
              tortor et pulvinar. Proin non sem tincidunt, pretium magna et,
              ultrices augue.
            </p>
            <p data-motion="fade-up" style="animation-delay: 2550ms" class="italic text-gray-600 pl-4 border-l-4 border-yellow-400">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat,” dicit Lorem.
            </p>
            <p data-motion="fade-up" style="animation-delay: 2700ms">
              Praesent ac rhoncus tortor. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <p data-motion="fade-up" style="animation-delay: 2850ms">
              Aenean vitae purus iaculis, sagittis ex tempor, dictum tellus. Ut
              a tristique nunc, eget tristique ex.
            </p>
            <p data-motion="fade-up" style="animation-delay: 3000ms">
              Sed imperdiet interdum elementum. Aliquam elementum, eros sit amet
              hendrerit viverra, ante risus faucibus urna, in tempus libero
              lacus non diam.
            </p>
            <p data-motion="fade-up" style="animation-delay: 3150ms">
              Integer id magna a nisl finibus interdum et id magna. Phasellus
              pretium accumsan ex sit amet finibus.
            </p>
            <p data-motion="fade-up" style="animation-delay: 3300ms">
              Suspendisse eu odio vel sapien ultrices porttitor id ac urna. In
              vulputate felis ut elit pretium eleifend.
            </p>
            <p data-motion="fade-up" style="animation-delay: 3450ms">
              Cras vulputate varius diam, vel porta justo cursus vitae. Curabitur
              laoreet iaculis metus, vitae posuere elit condimentum id.
            </p>
            <p data-motion="fade-up" style="animation-delay: 3600ms">
              Nam id turpis nec magna fermentum suscipit ac at elit. Duis
              scelerisque rhoncus lectus sit amet posuere.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="relative overflow-visible pb-12 bg-gray-50/50 py-12">
      <div class="flex justify-center px-4 mb-8">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="title-area">
            <h2
              class="text-3xl md:text-4xl font-black mb-6 text-gray-900 border-b-2 border-red-500 pb-2"
              data-motion="fade-right"
            >
              Lorem Ipsum Dolor Sit Amet
            </h2>
          </div>
        </div>
      </div>
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-800 space-y-6 font-serif leading-relaxed">
            <p data-motion="fade-left" style="animation-delay: 100ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non
              elementum lacus, vitae ultrices est.
            </p>
            <p data-motion="fade-right" style="animation-delay: 200ms">
              Quisque luctus est sit amet eros laoreet, ut cursus leo lacinia.
              Proin scelerisque finibus diam sed efficitur.
            </p>
            <p data-motion="fade-left" style="animation-delay: 300ms">
              Nullam cursus justo ac elementum pulvinar. Praesent eget urna
              sodales, porttitor nulla sed, eleifend turpis.
            </p>
            <p data-motion="fade-right" style="animation-delay: 400ms">
              Sed efficitur nisl elit, eget commodo dolor maximus vel. Ut
              lobortis convallis ipsum eu pulvinar.
            </p>
            <p data-motion="fade-left" style="animation-delay: 500ms">
              Fusce pellentesque felis eget diam sodales lobortis. Aliquam vel
              nibh vitae diam eleifend pretium.
            </p>
            <p data-motion="fade-right" style="animation-delay: 600ms">
              Suspendisse potenti. Nam accumsan ex eu tellus feugiat tristique.
              Vivamus scelerisque sit amet diam id lacinia.
            </p>
            <p data-motion="fade-up" style="animation-delay: 700ms">
              Aenean nec ex elementum, scelerisque neque aliquet, vestibulum nunc.
              Vivamus sed erat vitae est finibus accumsan. Sed id augue dolor.
              Sed molestie tellus ut purus rhoncus porttitor.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section
      class="py-12 md:py-20 relative overflow-hidden mt-8 mb-12 flex justify-center px-4"
    >
      <div
        class="relative w-full md:w-4/5 lg:w-[60%] max-w-4xl border-4 border-red-600 rounded-[100px] md:rounded-[150px] pt-16 md:pt-24 pb-20 md:pb-28 flex flex-col items-center z-10"
        data-motion="zoom-in"
      >
        <div
          class="absolute inset-2 md:inset-3 border-2 border-red-600 rounded-[90px] md:rounded-[140px] pointer-events-none z-0"
        >
        </div>

        <div
          class="relative z-10 px-6 md:px-12 text-center max-w-3xl"
          data-motion="fade-up"
          style="animation-delay: 200ms"
        >
          <div class="flex justify-center items-center space-x-2 mb-4">
            <span class="block w-12 h-1 bg-red-600 rounded-full"></span>
            <span class="block w-3 h-3 border-2 border-red-600 rounded-full"></span>
            <span class="block w-12 h-1 bg-red-600 rounded-full"></span>
          </div>

          <h2 class="text-4xl md:text-5xl font-serif font-black text-red-600 leading-tight mb-8">
            Lorem Ipsum<br />Dolor Sit<br />Amet Consectetur
          </h2>

          <p class="text-red-700 font-medium text-sm md:text-base leading-relaxed max-w-2xl mx-auto pb-16">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>

        <div class="w-full relative flex pb-12 z-10">
          <div
            class="absolute left-1/2 -translate-x-1/2 top-0 bottom-12 md:bottom-20 w-1 bg-red-600 z-0"
            data-motion="fade-in"
            style="animation-delay: 400ms"
          >
          </div>

          <div class="w-1/2 flex flex-col items-end gap-y-16 md:gap-y-24">
            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-right"
              style="animation-delay: 100ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-32 md:w-40 aspect-video bg-gray-200 border-[4px] md:border-[6px] border-[#eccb2f] -rotate-6 shadow-md -translate-x-6 -translate-y-4 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-500 font-medium">Image</span>
                </div>
                <div class="absolute z-30 w-36 md:w-44 aspect-video bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] rotate-3 shadow-lg translate-x-6 translate-y-4 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium">Image</span>
                </div>
                <div class="absolute bottom-2 -left-2 w-12 h-12 bg-green-500 rounded-tl-full rounded-br-full -rotate-15 opacity-80 z-10 shadow-inner"></div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">1935</h3>
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo quis imperdiet massa condimentum.</p>
              </div>
            </div>

            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-right"
              style="animation-delay: 300ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-40 md:w-48 aspect-[4/3] bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] -rotate-2 shadow-lg flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium text-center">Image</span>
                </div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">1951</h3>
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada. Fermentum leo vel orci porta non pulvinar.</p>
              </div>
            </div>

            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-right"
              style="animation-delay: 500ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-40 md:w-48 aspect-[4/3] bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] -rotate-3 shadow-lg flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium">Image</span>
                </div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">1997</h3>
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Feugiat in ante metus dictum at tempor. Et ligula ullamcorper malesuada proin libero nunc consequat.</p>
              </div>
            </div>

            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-right"
              style="animation-delay: 700ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-40 md:w-48 aspect-video bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] -rotate-2 shadow-lg flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium">Image</span>
                </div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">2023</h3>
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Ullamcorper dignissim cras tincidunt lobortis. Faucibus scelerisque eleifend donec pretium vulputate lorem sed.</p>
              </div>
            </div>
          </div>

          <div class="w-1/2 flex flex-col items-start gap-y-16 md:gap-y-24 pt-[14rem] md:pt-[20rem]">
            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-left"
              style="animation-delay: 200ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-36 md:w-44 aspect-video bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] rotate-6 shadow-md translate-x-4 -translate-y-4 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium">Image</span>
                </div>
                <div class="absolute z-30 w-28 md:w-36 aspect-square bg-gray-200 border-[4px] md:border-[6px] border-[#eccb2f] -rotate-3 shadow-xl -translate-x-6 translate-y-6 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-500 font-medium">Image</span>
                </div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">1940</h3>
                <div class="flex-1"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Curabitur vitae nunc sed velit dignissim sodales ut eu. Elementum sagittis vitae et leo duis ut diam ultricies.</p>
              </div>
            </div>

            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-left"
              style="animation-delay: 400ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-40 md:w-48 aspect-video bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] rotate-4 shadow-md translate-x-2 -translate-y-2 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium text-center">Image</span>
                </div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">1975</h3>
                <div class="flex-1"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Vulputate enim nulla aliquet porttitor. Sed augue lacus viverra vitae congue eu consequat ac felis eu.</p>
              </div>
            </div>

            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-left"
              style="animation-delay: 600ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-36 md:w-44 aspect-video bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] rotate-6 shadow-md translate-x-4 -translate-y-4 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium">Image</span>
                </div>
                <div class="absolute z-30 w-36 md:w-44 aspect-video bg-gray-200 border-[4px] md:border-[6px] border-[#eccb2f] -rotate-3 shadow-xl -translate-x-4 translate-y-6 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-500 font-medium">Image</span>
                </div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">2000</h3>
                <div class="flex-1"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Tortor at auctor urna nunc id cursus metus. Cursus risus at ultrices mi tempus imperdiet nulla malesuada.</p>
              </div>
            </div>

            <div
              class="flex flex-col items-center w-full sm:w-11/12 max-w-[320px] md:max-w-[380px]"
              data-motion="fade-left"
              style="animation-delay: 800ms"
            >
              <div class="relative w-full max-w-[260px] h-40 md:h-56 mb-6 flex justify-center items-center">
                <div class="absolute z-20 w-36 md:w-44 aspect-video bg-gray-300 border-[4px] md:border-[6px] border-[#eccb2f] rotate-3 shadow-md translate-x-2 -translate-y-4 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-600 font-medium">Image</span>
                </div>
                <div class="absolute z-30 w-36 md:w-44 aspect-video bg-gray-200 border-[4px] md:border-[6px] border-[#eccb2f] -rotate-4 shadow-xl -translate-x-4 translate-y-6 flex items-center justify-center">
                  <span class="text-[10px] md:text-xs text-gray-500 font-medium">Image</span>
                </div>
              </div>
              <div class="flex w-full items-center">
                <div class="flex-1 h-1 bg-red-600 z-10"></div>
                <h3 class="text-3xl md:text-4xl font-black text-red-600 tracking-tight px-4 md:px-6">2024</h3>
                <div class="flex-1"></div>
              </div>
              <div class="w-3 md:w-4 h-3 md:h-4 bg-red-600 rounded-full mt-2 mb-4"></div>
              <div class="text-center px-4 space-y-3 text-sm md:text-base font-medium text-gray-900 leading-snug">
                <p>Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Volutpat odio facilisis mauris sit amet massa.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="relative overflow-visible pb-12">
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-800 space-y-6 font-serif leading-relaxed">
            <p data-motion="fade-up" style="animation-delay: 50ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              ut eros sit amet lorem dapibus condimentum.
            </p>
            <p data-motion="fade-up" style="animation-delay: 150ms">
              Suspendisse pulvinar magna vitae arcu condimentum, feugiat fringilla magna ullamcorper.
              Donec vulputate odio in justo pretium, non congue leo pellentesque.
            </p>
            <p data-motion="fade-up" style="animation-delay: 250ms">
              Class aptent taciti sociosqu ad litora torquent per
              conubia nostra, per inceptos himenaeos. Mauris aliquet neque
              purus, vel varius nibh dictum ac.
            </p>
            <p data-motion="fade-up" style="animation-delay: 350ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              id varius tortor, vel vehicula sem.
            </p>
            <p data-motion="fade-up" style="animation-delay: 450ms" class="italic text-gray-600 pl-4 border-l-4 border-red-500">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non
              elementum lacus, vitae ultrices est. Quisque luctus est sit amet
              eros laoreet, ut cursus leo lacinia,” dicit Lorem Ipsum.
            </p>
            <p data-motion="fade-up" style="animation-delay: 550ms">
              Praesent interdum libero vitae eros iaculis sodales. Mauris
              tincidunt ipsum eu facilisis luctus. Duis aliquet lectus sit amet
              scelerisque gravida.
            </p>
            <p data-motion="fade-up" style="animation-delay: 650ms">
              Vivamus elementum elit arcu, at efficitur purus tristique id.
              Quisque dictum turpis quis elit scelerisque tristique.
            </p>
            <p data-motion="fade-up" style="animation-delay: 750ms">
              Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse
              tempor hendrerit lorem eu interdum. Proin condimentum sollicitudin
              leo at congue.
            </p>
            <p data-motion="fade-up" style="animation-delay: 850ms">
              Integer at est at mi convallis convallis vel vitae odio. Integer
              tincidunt lacus a convallis porta. Etiam condimentum iaculis lacus
              scelerisque varius.
            </p>
            <p data-motion="fade-up" style="animation-delay: 950ms">
              Duis vulputate tortor purus, ut aliquam leo gravida eleifend. Ut
              bibendum dictum metus vitae efficitur.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1050ms">
              Mauris eu dui ut nulla tempor volutpat eget ut metus. Pellentesque
              accumsan leo rhoncus libero sodales consectetur.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1150ms">
              Curabitur scelerisque eros felis, non mattis tellus hendrerit et.
              Sed pellentesque quam at dictum egestas.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1250ms">
              Vestibulum in finibus odio, vel molestie sem. Quisque imperdiet
              scelerisque ex sed hendrerit. Aliquam fermentum tristique arcu
              nec rhoncus. Aliquam erat volutpat.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1350ms" class="italic text-gray-600 pl-4 border-l-4 border-red-500">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua,” dicit
              Placeholder.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1450ms">
              Proin ac sapien id lorem vulputate interdum vel quis erat. Mauris
              varius pharetra leo nec lacinia. In vel dolor nisl.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1550ms">
              Vivamus congue justo at nulla sollicitudin, non convallis lacus elementum.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1650ms" class="italic text-gray-600 pl-4 border-l-4 border-red-500">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              eleifend lectus at nibh feugiat laoreet,” dicit Lorem Ipsum Dolor.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1750ms">
              Nam molestie ligula id accumsan varius. Fusce feugiat purus quis
              ante pellentesque varius.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1850ms">
              Nullam congue purus sem, non imperdiet risus rhoncus ac. Mauris
              sit amet ligula id lorem convallis cursus eu sit amet lorem.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1950ms">
              In hac habitasse platea dictumst. Ut lobortis, sem sit amet
              rhoncus pretium, lectus nisl volutpat erat, eget sodales ipsum
              tellus nec urna. Aliquam varius sollicitudin elementum.
            </p>
            <p data-motion="fade-up" style="animation-delay: 2050ms">
              Mauris vestibulum risus ac velit eleifend aliquet. Integer tempor
              erat diam, tempus accumsan sapien dictum id. Class aptent taciti
              sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="py-8 md:py-16 relative">
      <div class="flex justify-center px-4">
        <div class="w-full md:w-10/12" data-motion="zoom-in">
          <div class="relative w-full aspect-video flex items-center justify-center overflow-visible p-4 md:p-8">
            <div class="w-full h-full bg-gray-800 border-8 md:border-16 border-[#eccb2f] shadow-2xl rotate-1 flex items-center justify-center group relative overflow-hidden z-10 hover:rotate-0 transition-transform duration-500">
              <div class="w-16 h-16 md:w-24 md:h-24 bg-white/90 rounded-full flex items-center justify-center z-20 group-hover:scale-110 transition-transform cursor-pointer shadow-lg">
                <div class="ml-2 w-0 h-0 border-t-10 border-t-transparent border-l-16 border-l-red-600 border-b-10 border-b-transparent md:border-t-14 md:border-l-24 md:border-b-14"></div>
              </div>
              <span class="absolute bottom-4 right-4 text-white/50 font-medium text-sm z-20">Lorem Ipsum Video Placeholder</span>
            </div>
            <div class="absolute inset-4 md:inset-8 bg-[#eccb2f]/30 -rotate-2 rounded z-0" data-motion="fade-in" style="animation-delay: 300ms"></div>
          </div>
        </div>
      </div>
    </section>


    <section class="relative overflow-visible pb-12 bg-stone-50 py-8">
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-800 space-y-6 font-serif leading-relaxed">
            <p data-motion="fade-left" style="animation-delay: 0ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              finibus tellus nec ex pretium, vel finibus lorem sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              posuere cubilia curae.
            </p>
            <p data-motion="fade-left" style="animation-delay: 150ms" class="pl-6 text-red-600 font-semibold">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat,” dicit Placeholder.
            </p>
            <p data-motion="fade-left" style="animation-delay: 300ms" class="pl-6 text-blue-600 font-semibold">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam,” dicit Lorem Ipsum Dolor.
            </p>
            <p data-motion="fade-left" style="animation-delay: 450ms">
              Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas. Donec non enim in turpis
              pulvinar facilisis. Cras purus odio, vestibulum in vulputate at,
              tempus viverra turpis.
            </p>
            <p data-motion="fade-left" style="animation-delay: 600ms">
              In hac habitasse platea dictumst. Vivamus adipiscing nisi elit, et
              convallis elit cursus at. Nam quis nulla. Integer malesuada. In in
              nisi non arcu tincidunt eleifend pretium.
            </p>
            <p data-motion="fade-left" style="animation-delay: 750ms" class="pl-6 text-emerald-600 font-semibold">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              eleifend lectus at nibh feugiat laoreet. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae,”
              dicit Ipsum.
            </p>
            <p data-motion="fade-left" style="animation-delay: 900ms" class="pl-6 text-stone-600 font-semibold">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non
              elementum lacus, vitae ultrices est. Quisque luctus est sit amet
              eros laoreet, ut cursus leo lacinia,” dicit Lorem.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="relative overflow-visible pb-12 pt-8">
      <div class="flex justify-center px-4 mb-8">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="title-area">
            <h2 class="text-3xl md:text-4xl font-black mb-6" data-motion="zoom-in">
              Lorem Ipsum Dolor Sit Amet
            </h2>
          </div>
        </div>
      </div>
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-800 space-y-6 font-serif leading-relaxed">
            <p data-motion="zoom-in" style="animation-delay: 100ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non
              elementum lacus, vitae ultrices est. Quisque luctus est sit amet
              eros laoreet, ut cursus leo lacinia. Proin scelerisque finibus
              diam sed efficitur.
            </p>
            <p data-motion="zoom-in" style="animation-delay: 200ms">
              Nullam cursus justo ac elementum pulvinar. Praesent eget urna
              sodales, porttitor nulla sed, eleifend turpis. Sed efficitur nisl
              elit, eget commodo dolor maximus vel. Ut lobortis convallis ipsum
              eu pulvinar.
            </p>
            <p data-motion="zoom-in" style="animation-delay: 300ms" class="font-medium bg-yellow-50 p-4 rounded-md shadow-sm border-l-4 border-yellow-500">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non
              elementum lacus, vitae ultrices est. Quisque luctus est sit amet
              eros laoreet, ut cursus leo lacinia.”
            </p>
            <p data-motion="zoom-in" style="animation-delay: 400ms">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip.” dicit Placeholder.
            </p>
            <p data-motion="zoom-in" style="animation-delay: 500ms">
              Fusce pellentesque felis eget diam sodales lobortis. Aliquam vel
              nibh vitae diam eleifend pretium. Suspendisse potenti. Nam
              accumsan ex eu tellus feugiat tristique. Vivamus scelerisque sit
              amet diam id lacinia.
            </p>
            <p data-motion="zoom-in" style="animation-delay: 600ms">
              In id imperdiet ante. Ut cursus eros diam, vel molestie turpis
              facilisis id. Sed imperdiet convallis felis vulputate tincidunt.
              Pellentesque id elementum diam, in egestas tortor. Sed eget
              elementum dolor.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="py-8 md:py-16 relative bg-zinc-100/60 overflow-hidden">
      <div class="flex justify-center px-4">
        <div class="w-full md:w-10/12">
          <div class="relative w-full h-100 md:h-150 flex items-center justify-center overflow-visible">
            <div class="absolute w-64 h-64 md:w-125 md:h-125 bg-yellow-100 rounded-full flex items-center justify-center z-0 animate-pulse"></div>
            <div class="absolute bottom-20 left-10 w-24 h-24 md:w-32 md:h-32 bg-green-500 rounded-tl-full rounded-br-full rotate-15 opacity-70 z-0"></div>

            <div
              class="absolute w-56 md:w-96 aspect-4/3 bg-gray-300 border-8 md:border-12 border-[#eccb2f] shadow-lg rotate-4 translate-x-12 translate-y-10 md:translate-x-20 md:translate-y-16 flex items-center justify-center z-10 transition-transform duration-300 hover:scale-105 hover:-rotate-2 hover:z-40 cursor-pointer"
              data-motion="fade-left"
              style="animation-delay: 200ms"
            >
              <span class="text-gray-500 font-medium text-xs md:text-sm text-center px-2">Graphic Placeholder Lorem Ipsum 2A</span>
            </div>

            <div
              class="absolute w-52 md:w-80 aspect-3/4 bg-gray-400 border-8 md:border-12 border-[#eccb2f] shadow-2xl -rotate-4 -translate-x-16 -translate-y-4 md:-translate-x-28 md:-translate-y-8 flex items-center justify-center z-20 transition-transform duration-300 hover:scale-105 hover:rotate-2 hover:z-40 cursor-pointer"
              data-motion="fade-right"
              style="animation-delay: 400ms"
            >
              <span class="text-gray-700 font-medium text-xs md:text-sm text-center px-2">Graphic Placeholder Lorem Ipsum 2B</span>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="relative overflow-visible py-12">
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-800 space-y-6 font-serif leading-relaxed">
            <p data-motion="fade-up" style="animation-delay: 0ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              finibus tellus nec ex pretium, vel finibus lorem sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              posuere cubilia curae.
            </p>
            <p data-motion="fade-up" style="animation-delay: 150ms">
              Aenean non accumsan ante. Aliquam elementum sodales justo ut sodales. In hac habitasse platea dictumst. Curabitur vel molestie lorem. Vivamus at urna eu nisl dictum eleifend.
            </p>
            <p data-motion="fade-up" style="animation-delay: 300ms">
              Sed eleifend lectus at nibh feugiat laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi. Mauris vitae convallis ligula, ac efficitur diam.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="relative overflow-visible pb-12">
      <div class="flex justify-center px-4 mb-8">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="title-area">
            <h2 class="text-3xl md:text-4xl font-black mb-6 text-red-600" data-motion="fade-right">
              Lorem Ipsum Dolor Sit Amet
            </h2>
          </div>
        </div>
      </div>
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-800 space-y-6 font-serif leading-relaxed">
            <p data-motion="fade-left" style="animation-delay: 100ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              purus odio, vestibulum in vulputate at, tempus viverra turpis.
              Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
            <p data-motion="fade-right" style="animation-delay: 200ms">
              In id imperdiet ante. Ut cursus eros diam, vel molestie turpis
              facilisis id. Sed imperdiet convallis felis vulputate tincidunt.
              Pellentesque id elementum diam, in egestas tortor. Sed eget elementum dolor.
            </p>
            <p data-motion="fade-left" style="animation-delay: 300ms">
              Phasellus eget scelerisque sem. Aliquam non iaculis eros. In
              iaculis nibh vitae felis suscipit, ut pellentesque sem euismod.
              Quisque placerat consequat risus id imperdiet. Mauris congue arcu a felis facilisis gravida.
            </p>
            <p data-motion="fade-right" style="animation-delay: 400ms">
              Aliquam interdum nulla at ligula pretium tincidunt. Curabitur in
              ante nisl. Praesent molestie leo lectus, id tincidunt ex scelerisque ac. Maecenas efficitur lorem at lacus luctus, non elementum turpis maximus.
            </p>
            <p data-motion="fade-left" style="animation-delay: 500ms">
              Aenean nec ex elementum, scelerisque neque aliquet, vestibulum nunc. Vivamus sed erat vitae est finibus accumsan. Sed id augue dolor. Sed molestie tellus ut purus rhoncus porttitor.
            </p>
            <p data-motion="fade-right" style="animation-delay: 600ms">
              Integer at est at mi convallis convallis vel vitae odio. Integer
              tincidunt lacus a convallis porta. Etiam condimentum iaculis lacus scelerisque varius. Duis vulputate tortor purus, ut aliquam leo gravida eleifend.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="relative overflow-visible pb-12 bg-gray-900 text-white py-16 rounded-t-[50px]">
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12">
          <div class="text-lg md:text-xl text-gray-300 space-y-6 font-serif leading-relaxed">
            <p data-motion="fade-up" style="animation-delay: 100ms">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              purus odio, vestibulum in vulputate at, tempus viverra turpis.
              Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
            <p data-motion="fade-up" style="animation-delay: 250ms">
              In id imperdiet ante. Ut cursus eros diam, vel molestie turpis
              facilisis id. Sed imperdiet convallis felis vulputate tincidunt.
              Pellentesque id elementum diam, in egestas tortor. Sed eget elementum dolor.
            </p>
            <p data-motion="fade-up" style="animation-delay: 400ms">
              Phasellus eget scelerisque sem. Aliquam non iaculis eros. In
              iaculis nibh vitae felis suscipit, ut pellentesque sem euismod.
              Quisque placerat consequat risus id imperdiet. Mauris congue arcu a felis facilisis gravida.
            </p>
            <p data-motion="fade-up" style="animation-delay: 550ms">
              Aliquam interdum nulla at ligula pretium tincidunt. Curabitur in
              ante nisl. Praesent molestie leo lectus, id tincidunt ex scelerisque ac. Maecenas efficitur lorem at lacus luctus, non elementum turpis maximus.
            </p>
            <p data-motion="fade-up" style="animation-delay: 700ms">
              Aenean nec ex elementum, scelerisque neque aliquet, vestibulum nunc. Vivamus sed erat vitae est finibus accumsan. Sed id augue dolor. Sed molestie tellus ut purus rhoncus porttitor.
            </p>
            <p data-motion="fade-up" style="animation-delay: 850ms">
              Integer at est at mi convallis convallis vel vitae odio. Integer
              tincidunt lacus a convallis porta. Etiam condimentum iaculis lacus scelerisque varius. Duis vulputate tortor purus, ut aliquam leo gravida eleifend.
            </p>
            <p data-motion="zoom-in" style="animation-delay: 1000ms" class="text-yellow-400 font-medium">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip.” dicit Placeholder.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1150ms">
              Fusce pellentesque felis eget diam sodales lobortis. Aliquam vel
              nibh vitae diam eleifend pretium. Suspendisse potenti. Nam
              accumsan ex eu tellus feugiat tristique. Vivamus scelerisque sit amet diam id lacinia.
            </p>
            <p data-motion="fade-up" style="animation-delay: 1300ms">
              In id imperdiet ante. Ut cursus eros diam, vel molestie turpis
              facilisis id. Sed imperdiet convallis felis vulputate tincidunt.
              Pellentesque id elementum diam, in egestas tortor. Sed eget elementum dolor.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="relative overflow-visible pb-20 pt-8 border-t border-gray-300 bg-gray-900 text-gray-400">
      <div class="flex justify-center px-4">
        <div class="w-11/12 md:w-8/12 xl:w-6/12 text-center text-sm">
          <p data-motion="fade-in" style="animation-delay: 200ms">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </section>
  </main>

  <!-- Scroll to Top Button -->
  <button 
    id="scrollToTopBtn" 
    class="fixed bottom-8 right-8 w-14 h-14 bg-red-600 text-white rounded-full shadow-lg flex items-center justify-center hover:bg-red-700 hover:-translate-y-1 transition-all duration-300 z-50 opacity-0 translate-y-4 pointer-events-none"
    aria-label="Scroll to top"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
    </svg>
  </button>

  <style is:global>
    [data-motion] {
      opacity: 0;
      transition-duration: 0.5s;
      /* If you want to prevent clicking before it's visible, you can add pointer-events: none; */
    }
    
    [data-motion="fade-in"] {
      transition-property: opacity;
      transition-timing-function: ease-in-out;
    }
    
    [data-motion="fade-up"] {
      transform: translateY(40px);
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.17, 0.55, 0.55, 1);
    }
    
    [data-motion="fade-left"] {
      transform: translateX(40px);
      transition-property: opacity, transform;
      transition-timing-function: ease-out;
    }
    
    [data-motion="fade-right"] {
      transform: translateX(-40px);
      transition-property: opacity, transform;
      transition-timing-function: ease-out;
    }
    
    [data-motion="zoom-in"] {
      transform: scale(0.9);
      transition-property: opacity, transform;
      transition-timing-function: ease-out;
    }

    [data-motion].is-visible {
      opacity: 1;
      transform: none;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const el = entry.target as HTMLElement;
            if (entry.isIntersecting) {
              // Apply the stagger delay when it enters the viewport
              if (el.dataset.delay) {
                el.style.transitionDelay = el.dataset.delay;
              }
              el.classList.add("is-visible");
            } else {
              // Only remove the class if the element leaves via the bottom of the viewport
              // (i.e., you scroll up past it). If it leaves via the top, we leave it visible.
              if (entry.boundingClientRect.top > 0) {
                el.style.transitionDelay = "0ms";
                el.classList.remove("is-visible");
              }
            }
          });
        },
        // Trigger slightly earlier to keep up with scrolling 
        { rootMargin: "0px 0px 50px 0px", threshold: 0 }
      );

      document.querySelectorAll("[data-motion]").forEach((htmlElement) => {
        const el = htmlElement as HTMLElement;
        
        // Save the delay to a robust dataset property instead of keeping it permanent
        if (el.style.animationDelay) {
          // Some inline staggered delays were up to 3600ms, making them wait 3.6s!
          // We compress that wait time drastically so it feels snappy and keeps up.
          const ms = parseInt(el.style.animationDelay, 10);
          el.dataset.delay = `${ms * 0.25}ms`;
        }
        
        observer.observe(el);
      });

      // Scroll to Top Button Logic
      const scrollToTopBtn = document.getElementById("scrollToTopBtn");
      if (scrollToTopBtn) {
        window.addEventListener("scroll", () => {
          // Show button after scrolling down 400px
          if (window.scrollY > 400) {
            scrollToTopBtn.classList.remove("opacity-0", "translate-y-4", "pointer-events-none");
            scrollToTopBtn.classList.add("opacity-100", "translate-y-0");
          } else {
            scrollToTopBtn.classList.add("opacity-0", "translate-y-4", "pointer-events-none");
            scrollToTopBtn.classList.remove("opacity-100", "translate-y-0", "hover:-translate-y-1");
          }
        });

        scrollToTopBtn.addEventListener("click", () => {
          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
        });
      }
    });
  </script>
</Layout>